
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  /* min-width: 250px; */
  background-image: linear-gradient(to right,rgb(58, 30, 244), rgb(187, 80, 205));
}

* {
  box-sizing: border-box;
}
 .extra{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  top: 100px;
  left: 50px auto;
 position: relative;
 }
 #date{
  color: aqua;

  width: 7vw;
  height: 4vh;

 }
 #txt1{
  height: 24px;
  color: antiquewhite;
  background-color: black;
  
  width: 265px;
  top: 25px;
  right: 590px;
  position:  absolute;
 }
 #add{
  background-color: blueviolet;
  color: aliceblue;

  top: 25px;
  right: 523px;
  position:  absolute;
 }
 #del{
  top: 25px;
  right: 440px;
  position: absolute;

  background-color: blue;
  color: aliceblue;
 }
 #ToDoListTable{
  color: antiquewhite;
  background-color: black;

  top: 45px;
  right: 590px;
  position:  absolute;
 }
 