@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Bebas+Neue&family=Carrois+Gothic&family=Poppins:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    
    overflow: hidden;
}
nav {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 10px ;
    width:  100%;
    
}

.rotate{
    display: flex;
    justify-content: end;
    align-items: end;
    width: 35px;
 
    position: relative;

    left: 270px;
    top: 25px;
    
}
 
hr{
    width: 86%;
    margin: 20px;
}



#container {
    background-color: #44519E;
    display: grid;
    justify-self: center; 
    align-self: center;
    width: 374px;
    height:  95vh; 

    position: relative;
    left: 20px;
    right: 50px;
    margin-left: 26pc;
}

#circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: 10%;
    
}

button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #69E5E7;
    color: #fff;

    border-radius: 8px;
    width:  19pc;
    height: 40px;
    cursor:pointer;
    margin: 35px;

    text-transform: capitalize;
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: bolder;
}
button:active{
    transform: scale(0.89);
}
 
.rotate::before {
    transform: rotate(180deg);
}
.rotate{
    transition: transform 0.5s;
}

input:placeholder-shown
 {
    color: burlywood;
 }
 .rotate.rotated {
    transform: rotate(180deg);
 }

 span{
    color: #fff;
 }

#input {
    display: flex;
    flex-direction:  column;
    
    padding: 28px;
    
} 

input {
    border: none;
    width: 268px;
    height: 45px;
    
    background-color: transparent;
    color: black;
    
    font-family: 'Bebas neue', sans-serif;
    font-size: 26px;
    font: 500;

    letter-spacing: 4px;
    padding-left: 6px;
}

input:focus, input:active {
    outline: none;
}

#inputt{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
section{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    width: 25vw;
    height: max-content;

    border: 1px solid rgb(226, 43, 217);
    border-radius: 6px;

    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: bold;

    float: right;
    position: absolute;
    top: 15px;
    right: 10pc;
    margin-right: 30px;

    background-color: rgb(226, 43, 217);
    opacity: 0.89;
    color: #fff;

}
.changing-background-color{
     
    text-align: center;
}

.microphone {
    display: inline;
    align-items:first baseline;
    height: 66px;
    width: 45px;

    position: absolute;

}