@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: 'Poppins';

    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#container{
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 97vh;

    background-color: #AAA4E7;

    position: absolute;
    left: auto;
    right: auto;
    margin-left: 23pc; 
    padding: 30px;

    border-radius: 12px;
}

button {
    display: flex;
    justify-self: last baseline;
    justify-content: center;
    align-self: last baseline;
    align-items: center;
    
    width: 62px;
    height: 55px; 

    background-color: #69E5E7;

    border-radius: 50%;
    color: #fff;

    cursor: pointer;
}

#date {
    font-family: 'Poppins',sans-serif;
    font-size: 23px;
    font-weight: bolder;
    color: black;
}

#container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

    background-color: #FDFDFF;
    width: 374px;
    height:  95vh; 

    position: relative; 
    left: auto;
    right: auto;
    top: 0px;
    
     
    padding: 20px; 
}
 span {
    display: flex;
    flex-direction: row;

}

#img {
    display: flex;
    flex-direction: row;
    justify-self:center;
    align-self:center;
    
    position:  absolute;
    top: 0;
    left: 0;
    
    background-size: auto 250%;
    background-repeat: no-repeat;
    height:  116px;
    width: 374px;
    color: #fff;
    
    flex: 0.5;
    position: absolute;
    transition: flex 0.7s ease-in;

}

#right {
  width: 60%;
  height: 100%;

  position: relative;
  font-size: 15px;
  font-weight: 500;
  line-height: 32px;

  padding: 8px;
}

h3 {
    position: relative;
    padding: auto;

    float: left;

    font-size: medium;
    font-family: 'Poppins',sans-serif;
}

#left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: relative;
    width: 40%;
    height: 100%;
    
     background: rgba(51, 51, 51, 0.65); 
    /* background-color: #7C92CC;
    opacity: 0.9; */
    font-size: 15px;
    font-weight: 500;
    line-height: 32px;

    filter: brightness(50%);
    padding: 8px;

}
 
#personal,#business {
    display: flex;
    flex-direction: column;

     padding: 2px;
     margin: 4px;


}

 #content > *{

     height: 50%;
     width: 100%;
     
     font-size: smaller;
     font-style: italic;

} 

#content #h4 {
    display: flex;
    flex-direction: row;

    margin: 12px;
    text-align: center;

    position:  absolute;
}



#icon {
    display: inline-flex;

    border: 1px #2323f1 solid;

    width: 42px;
    height: 41px;
    border-radius: 50%;
}
hr {
    width: 86%;
}

#title,#time,#description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;
     
}
#time {
     color: #ED1CFF;

     font-size: 15px;
     font-style: normal;
     font-weight: 600;
     line-height: normal;
}

#search {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}
ul {
    display: none; 
    width: 200px;
    height: 18vh;
    border:1px solid #AAA4E7;
    background-color: #AAA4E7;
    opacity: 0.89;

    position: absolute;
    left: 0;
    top: -20px;
    /* z-index: -1; */

}
ul:active {
    display: block;
}
 
ul li a{
    text-decoration: none;
}
ul li {
    list-style-type: none;
    color: #fff;

    font-family: 'Poppins',sans-serif;
    font-size: 17px;
    
    text-align:start;
}